header
{
    text-align: center;
    font-size: 2.5rem;
    color: cornsilk;
    font-weight: 400;
}
.pss{
    border:5px solid rgba(87, 86, 86, 0.24);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px;
}
.inps{
    margin:20px 0;
}
#demo{
    border:solid black;
    border-left: none;
    border-top: none;
    border-right: none;
    min-width: 100px;
    max-width: 200px;
    margin:10px 0;
    text-align: center;
}